body {
  background: url(https://cdn.cienradios.com/wp-content/uploads/sites/14/2020/07/ana-frank-libreria.png);
}
.contenedor {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(252, 178, 32, 0.733);
  margin-top: 7%;
  padding: 1%;
  border-radius: 20px;
  font-family: "calibri";
  box-shadow: 14px 20px 25px #0d0d0d;
}

.titulo {
  text-align: center;
  font-family: "Courier";
}

.button-ingresar {
  width: 100%;
  display: block;
  background: #f8694a;
  text-align: center;
  margin: auto;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  transition: all 300ms;
  margin-bottom: 2%;
  min-height: 50px;
  color: white;
}

.button-ingresar:hover {
  color: white;
  transform: translateX(10px);
  box-shadow: 0px 30px 5px -15px rgba(0, 0, 0, 0.3);
}

.button-ingresar > i {
  float: right;
  line-height: 20px;
}
.table-responsive {
  background-color: rgba(243, 240, 234, 0.733);
}

